body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 0 0;
}

.header-bar {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #221a19;
  padding: 1rem 2rem;
  gap: 2rem;
  background-color: #888;
  flex-wrap: wrap;
}

.main-title {
  font-family: "Bitcount Grid Double";
  font-weight: 300;
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.top-menu {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}

.top-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.top-menu a:hover {
  color: #221a19;
}

.page-title {
  text-align: center;

}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 700px) {
  .header-bar {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
  }
  .menu-toggle {
    display: block;
    width: 2.5rem;
    padding-left: 10px;
    margin-left: auto;
    z-index: 1101;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  .top-menu {
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background: #221a19;
    padding: 2rem 1rem;
    gap: 2rem;
    transition: opacity 0.3s cubic-bezier(.4,2,.6,1);
    z-index: 1100;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
  }
  .top-menu.open {
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
