@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Rubik+Broken+Fax&family=Space+Grotesk:wght@300..700&family=Tomorrow:wght@400;500;600;700&display=swap');
:root {
  font-family: "Space Grotesk", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #221a19;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-1: #231b1a;
  --color-2: #4a3d3a;
  --color-3: #7d6b5e;
  --color-4: #b2a899;
  --color-5: #e2d2cb;
  --color-6: #f8f4f2;
  --color-hover: #d1ad79;

  --default-shadow: 0px 3px 6px #221a1981;

}

.color-1 {
  color: #231b1a;
}
.color-2 {
  color: #4a3d3a;
}
.color-3 {
  color: #7d6b5e;
}
.color-4 {
  color: #b2a899;
}
.color-5 {
  color: #e2d2cb;
}

.color-6 {
  color: #f8f4f2;
}

.color-hover {
  color: #d1ad79;
}

.tomorrow-regular {
  font-family: "Tomorrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tomorrow-medium {
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tomorrow-semibold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.tomorrow-bold {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

a:hover {
  color: #abacc7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 2rem 1rem;
}

h2 {
  font-size: 2em;
  margin: 2rem 1rem;
}

h3 {
  font-size: 1.5em;
  margin: 2rem 1rem;
}

p {
  margin: 2rem 2rem;
  text-align: justify;
  font-family: 'Courier New';
}


img {
  display: block;
  margin: 1rem auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.arrow-button {
  background: none;
  color: black;
  box-shadow: 0px 3px 6px #221a1981;
  transition: color 0.25s;
  border: none;
  margin: 0px 0.25rem;
  padding: 0;
}

.arrow-button:hover {
  color: var(--color-hover);
}

.arrow-button:disabled {
  color: rgba(0, 0, 0, 0.5);
}

/* Section for PDFViewer */

.page-flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.page-flip-content {
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.page-flip-content.flipping {
  transform: rotateY(90deg);
}

.page-flip-content.flip-back {
  transform: rotateY(90deg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
